<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
     http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">
     
    <!-- 扫描properties文件,提取里面的属性值 -->
	<!-- 有多个context:property-placeholder就需要ignore-unresolvable="true",不然会报错 -->
	<context:property-placeholder location="classpath:jdbc.properties" ignore-unresolvable="true"/>
    
    <!--使用C3P0数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
     destroy-method="close">     
	     <property name="driverClass" value="${driverClass}"/>
	     <property name="jdbcUrl" value="${jdbcUrl}"/>
	     <property name="user" value="${user}"/>
	     <property name="password" value="${password}"/>     
	     <!-- 连接池中保留的最大连接数,默认值为15 -->
	     <property name="maxPoolSize" value="200"/>
	     <!-- 连接池中保留的最小连接数,默认值为3 -->
	     <property name="minPoolSize" value="2"/>
	     <!-- 初始化连接大小,默认为3 -->
	     <property name="initialPoolSize" value="2"/>
	     <!-- 最大空闲时间,20秒内未被使用则连接被丢弃,若为0则永不丢弃。默认值为0 -->
	     <property name="maxIdleTime" value="20"/>
	</bean> 
    
    <!--事务管理-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
	
	<!--允许事务注解-->
	<tx:annotation-driven />
	
	<!--扫描使用了spring注解或j2ee注解的组件-->
	<context:component-scan base-package="com.langtaojin.myjpetstore.service" />
	
	<!--使用MyBatis关键配置就是sqlSessionFactory和mybatis:scan-->	
	<!-- define the SqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="typeAliasesPackage" value="com.langtaojin.myjpetstore.domain" />
    </bean>
    
    <!-- scan for mappers and let them be autowired -->
    <mybatis:scan base-package="com.langtaojin.myjpetstore.mapper" />
    
</beans>